# Ignore all Jupyter notebooks
*.ipynb

# But keep this one tracked
!example.ipynb

# Ignore all GRMONTY spectrum files
./output/*
# But keep this one tracked
!example.spec

./.vscode

callgrind.out*
*.o
*.txt
HAMR_GRMONTY_DUMP300_3D.bin
HAMR_GRMONTY_DUMP110_thin.bin
MAD_*
SPHERE_TEST_THICK
dump900
*.ncu-rep
*.h5
