.vscode/

# Ignore all object files
*.o

# Ignore the entire build directory
build/

data/*.h5
gpumonty

output/
!output/example.spec

!Doxyfile

python/*
python/**/.ipynb_checkpoints/


*.pdf
*.png
*.spec
*.bin
*.h5

!python/example.ipynb
!output/example.spec
