].vscode/

# Ignore all object files
*.o

# Ignore the entire build directory
build/

data/*.h5
gpumonty

# Documentation build artifacts
html/
latex/
_build/
xml/

!output/
!output/example.spec
!Doxyfile

python/*
python/**/.ipynb_checkpoints/


*.pdf
*.png
*.spec
*.bin
*.h5

!python/example.ipynb
!output/example.spec
!python/example.py
!python/plspec.py
!python/sphere_example.ipynb
!docs/figures/bias_tuning_working.png
!docs/figures/nobias_withbias.png
!docs/figures/expected_spectrum.png
