/* Hides the redundant 'Functions' or 'Defines' titles from Breathe */
.breathe-sectiondef-title {
    display: none !important;
}

/* Adds space between the Macro name and its initializer value */
.sig-name.descname + .sig-paren, 
.sig-name.descname + span,
.sig-name.descname + em {
    margin-left: 15px !important;
    display: inline-block;
}